.bioStyle {
  background-color:rgba(164, 119, 139, 0.15); 
  padding: 20px; 
  margin: 10%; 
}

.bioHeader h2{
  font-size: 55px;
  margin-top: 3%;
  margin-right: 7%;
  margin-bottom: 1%;
}

.bioP {
  margin-top: 0;
  margin-right: 7%;
  margin-bottom: 3%;
  margin-left: 7%;
}

.linkContainer {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px; 
  padding: 0 200px; 
}

.bioLink {
  color: #333;
  padding: 10px; 
  cursor: pointer; 
  margin: 0 5px; 
  text-decoration: underline;
  text-decoration-color: rgb(137, 137, 137);
}

.bioLink:hover {
  text-decoration: underline; 
  font-size: 114%; 
  transition: font-size 0.3s ease;
}

