
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 1%;
} 

.headerNavigation {
  display: flex;
  flex-direction: column; 
  font-size: 13px;
  align-items: flex-end; 
  margin-top: 20px;
}

.headerNavigation h4 {
  margin-top: 0; 
  margin-bottom: 0;
  margin-left: 0px;
}

.headerNavigation h4:hover {
  font-size: 114%; 
  transition: font-size 0.3s ease;
}

.headerContent {
  display: flex;
  flex-direction: column;
}

.headerName h1{
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
}

.headerTitle h2{
  margin: 0;
  font-size: medium;
  letter-spacing: 8px;
}

