.container {
  margin-right: 5%;
}

h1 {
 text-align: right;
 margin-top: 16%;
 margin-bottom: 0;
 font-size: 125px;
 letter-spacing: 5px;
}

h2 {
  text-align: right;
  margin-top: 0;
  font-size: xx-large;
  letter-spacing: 8px;
}

.navigation {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.navigation h4:hover {
  font-size: 114%; 
  transition: font-size 0.3s ease;
}
